
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charSet="utf-8" />
            <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="theme-color" content="#000000" />
            <meta
              name="description"
              content="aidouble dot blog"
            />
            <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
           
            <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossOrigin="anonymous" />

             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css" />
             <link  href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" rel="stylesheet" />
           
            <title> markdown testing </title>

          </head>
          <body>
            
            <div className="Container" style="padding:30px;">
               <p>---<br />
__Advertisement :)__</p>

<p>- __[pica](https://nodeca.github.io/pica/demo/)__ - high quality and fast image<br />
&nbsp; resize in browser.<br />
- __[babelfish](https://github.com/nodeca/babelfish/)__ - developer friendly<br />
&nbsp; i18n with plurals support and easy syntax.</p>

<p>You will like those projects!</p>

<p>---</p>

<p># h1 Heading 8-)<br />
## h2 Heading<br />
### h3 Heading<br />
#### h4 Heading<br />
##### h5 Heading<br />
###### h6 Heading</p>

<p><br />
## Horizontal Rules</p>

<p>___</p>

<p>---</p>

<p>***</p>

<p><br />
## Typographic replacements</p>

<p>Enable typographer option to see result.</p>

<p>(c) (C) (r) (R) (tm) (TM) (p) (P) +-</p>

<p>test.. test... test..... test?..... test!....</p>

<p>!!!!!! ???? ,, &nbsp;-- ---</p>

<p>&quot;Smartypants, double quotes&quot; and &#39;single quotes&#39;</p>

<p><br />
## Emphasis</p>

<p>**This is bold text**</p>

<p>__This is bold text__</p>

<p>*This is italic text*</p>

<p>_This is italic text_</p>

<p>~~Strikethrough~~</p>

<p><br />
## Blockquotes</p>

<p><br />
&gt; Blockquotes can also be nested...<br />
&gt;&gt; ...by using additional greater-than signs right next to each other...<br />
&gt; &gt; &gt; ...or with spaces between arrows.</p>

<p><br />
## Lists</p>

<p>Unordered</p>

<p>+ Create a list by starting a line with `+`, `-`, or `*`<br />
+ Sub-lists are made by indenting 2 spaces:<br />
&nbsp; - Marker character change forces new list start:<br />
&nbsp; &nbsp; * Ac tristique libero volutpat at<br />
&nbsp; &nbsp; + Facilisis in pretium nisl aliquet<br />
&nbsp; &nbsp; - Nulla volutpat aliquam velit<br />
+ Very easy!</p>

<p>Ordered</p>

<p>1. Lorem ipsum dolor sit amet<br />
2. Consectetur adipiscing elit<br />
3. Integer molestie lorem at massa</p>

<p><br />
1. You can use sequential numbers...<br />
1. ...or keep all the numbers as `1.`</p>

<p>Start numbering with offset:</p>

<p>57. foo<br />
1. bar</p>

<p><br />
## Code</p>

<p>Inline `code`</p>

<p>Indented code</p>

<p>&nbsp; &nbsp; // Some comments<br />
&nbsp; &nbsp; line 1 of code<br />
&nbsp; &nbsp; line 2 of code<br />
&nbsp; &nbsp; line 3 of code</p>

<p><br />
Block code &quot;fences&quot;</p>

<p>```<br />
Sample text here...<br />
```</p>

<p>Syntax highlighting</p>

<p>``` js<br />
var foo = function (bar) {<br />
&nbsp; return bar++;<br />
};</p>

<p>console.log(foo(5));<br />
```</p>

<p>## Tables</p>

<p>| Option | Description |<br />
| ------ | ----------- |<br />
| data &nbsp; | path to data files to supply the data that will be passed into templates. |<br />
| engine | engine to be used for processing templates. Handlebars is the default. |<br />
| ext &nbsp; &nbsp;| extension to be used for dest files. |</p>

<p>Right aligned columns</p>

<p>| Option | Description |<br />
| ------:| -----------:|<br />
| data &nbsp; | path to data files to supply the data that will be passed into templates. |<br />
| engine | engine to be used for processing templates. Handlebars is the default. |<br />
| ext &nbsp; &nbsp;| extension to be used for dest files. |</p>

<p><br />
## Links</p>

<p>[link text](http://dev.nodeca.com)</p>

<p>[link with title](http://nodeca.github.io/pica/demo/ &quot;title text!&quot;)</p>

<p>Autoconverted link https://github.com/nodeca/pica (enable linkify to see)</p>

<p><br />
## Images</p>

<p>![Minion](https://octodex.github.com/images/minion.png)<br />
![Stormtroopocat](https://octodex.github.com/images/stormtroopocat.jpg &quot;The Stormtroopocat&quot;)</p>

<p>Like links, Images also have a footnote style syntax</p>

<p>![Alt text][id]</p>

<p>With a reference later in the document defining the URL location:</p>

<p>[id]: https://octodex.github.com/images/dojocat.jpg &nbsp;&quot;The Dojocat&quot;</p>

<p><br />
## Plugins</p>

<p>The killer feature of `markdown-it` is very effective support of<br />
[syntax plugins](https://www.npmjs.org/browse/keyword/markdown-it-plugin).</p>

<p><br />
### [Emojies](https://github.com/markdown-it/markdown-it-emoji)</p>

<p>&gt; Classic markup: :wink: :crush: :cry: :tear: :laughing: :yum:<br />
&gt;<br />
&gt; Shortcuts (emoticons): :-) :-( 8-) ;)</p>

<p>see [how to change output](https://github.com/markdown-it/markdown-it-emoji#change-output) with twemoji.</p>

<p><br />
### [Subscript](https://github.com/markdown-it/markdown-it-sub) / [Superscript](https://github.com/markdown-it/markdown-it-sup)</p>

<p>- 19^th^<br />
- H~2~O</p>

<p><br />
### [\&lt;ins&gt;](https://github.com/markdown-it/markdown-it-ins)</p>

<p>++Inserted text++</p>

<p><br />
### [\&lt;mark&gt;](https://github.com/markdown-it/markdown-it-mark)</p>

<p>==Marked text==</p>

<p><br />
### [Footnotes](https://github.com/markdown-it/markdown-it-footnote)</p>

<p>Footnote 1 link[^first].</p>

<p>Footnote 2 link[^second].</p>

<p>Inline footnote^[Text of inline footnote] definition.</p>

<p>Duplicated footnote reference[^second].</p>

<p>[^first]: Footnote **can have markup**</p>

<p>&nbsp; &nbsp; and multiple paragraphs.</p>

<p>[^second]: Footnote text.</p>

<p><br />
### [Definition lists](https://github.com/markdown-it/markdown-it-deflist)</p>

<p>Term 1</p>

<p>: &nbsp; Definition 1<br />
with lazy continuation.</p>

<p>Term 2 with *inline markup*</p>

<p>: &nbsp; Definition 2</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; { some code, part of Definition 2 }</p>

<p>&nbsp; &nbsp; Third paragraph of definition 2.</p>

<p>_Compact style:_</p>

<p>Term 1<br />
&nbsp; ~ Definition 1</p>

<p>Term 2<br />
&nbsp; ~ Definition 2a<br />
&nbsp; ~ Definition 2b</p>

<p><br />
### [Abbreviations](https://github.com/markdown-it/markdown-it-abbr)</p>

<p>This is HTML abbreviation example.</p>

<p>It converts &quot;HTML&quot;, but keep intact partial entries like &quot;xxxHTMLyyy&quot; and so on.</p>

<p>*[HTML]: Hyper Text Markup Language</p>

<p>### [Custom containers](https://github.com/markdown-it/markdown-it-container)</p>

<p>::: warning<br />
*here be dragons*<br />
:::<br />
&nbsp;</p>

            </div>

            <footer class="py-4 text-dark-50" style="bottom: 0 ;position : absolute; width : 100%" }} >
            <div class="container text-center">
              <small>Copyright &copy; <a href="http://cognirel.com/"> Cognirel.com</a></small>
            </div>
          </footer>
            
            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossOrigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossOrigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossOrigin="anonymous"></script>

            <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
            <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
   
          </body>
        </html>
