
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charSet="utf-8" />
            <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="theme-color" content="#000000" />
            <meta
              name="description"
              content="aidouble dot blog"
            />
            <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
           
            <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossOrigin="anonymous" />

             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css" />
             <link  href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" rel="stylesheet" />
           
            <title> New Post </title>
            <style>

                footer, footer p{
                    background-color: black;
                    color:white;
                }

                a:link , a:visited , a:hover , a:active {
                  color: white;
                }

                .navbar-expand-lg{
                    -ms-flex-flow: row wrap !important;
                    flex-flow: row wrap  !important;
                    -ms-flex-pack: start;
                }

                .subtitle a, .subtitle a:active, .subtitle a:hover{
                  color: white;
                  text-decoration: none;
                }

                .subtitle a span{
                    display: inline-block;
                    line-height: 1.4em;
                    vertical-align: bottom;
                    width: 4em;
                    color: #eeeeee;
                    padding-left: 3px;
                }
                .subtitle div span{
                    font-weight: 300;
                    font-size: 0.80em;
                    color: #eeeeee
                }

                .logo-subtitle{
                    padding-top: 5px;
                }

                #mainNav {
                  background-color: #222;
                }

                #mainNav .navbar-toggler {
                  font-size: 12px;
                  right: 0;
                  padding: 13px;
                  text-transform: uppercase;
                  color: white;
                  border: 0;
                  background-color: #fed136;
                  /*font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
                  /*color: #212529;*/
                }

                #mainNav .navbar-brand {
                  color: #fed136;
                }

                #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
                  color: #fec503;
                }

                #mainNav .subtitle img{
                  height: 4em;
                }

                #mainNav .navbar-nav .nav-item .nav-link {
                  font-size: 90%;
                  font-weight: 400;
                  padding: 0.75em 0;
                  letter-spacing: 1px;
                  color: white;
                }

             </style>

          </head>
          <body>

            <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
              <div class="container ">
                <span class="subtitle">
                  <a class="js-scroll-trigger" href="#page-top">
                    <img src="http://aidoubledot.com/static/img/logos/logo_main.png" alt="ai double dot"/>
                      <span>ai <br /> double dot</span>
                  </a>
                  <div class="logo-subtitle">
                    <span>just the AI lab you needed</span>
                  </div>
                </span>

                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                          aria-label="Toggle navigation">
                           Menu &nbsp;
                        <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse float-right " id="navbarResponsive">
                     <br /> <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item ">
                          <a class="nav-link" href="/Link 1">Link 1</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/Link 2">link two</a>
                        </li>
                      </ul>
                  </div>
              </div>

          </nav>
            
            <div className="Container" style="padding:30px;">
               <pre>
<code>&lt;hr&gt;
&lt;p&gt;&lt;strong&gt;Advertisement 😃&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;&lt;a href=&quot;https://nodeca.github.io/pica/demo/&quot;&gt;pica&lt;/a&gt;&lt;/strong&gt; - high quality and fast image
resize in browser.&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;&lt;a href=&quot;https://github.com/nodeca/babelfish/&quot;&gt;babelfish&lt;/a&gt;&lt;/strong&gt; - developer friendly
i18n with plurals support and easy syntax.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;You will like those projects!&lt;/p&gt;
&lt;hr&gt;
&lt;h1&gt;h1 Heading 😎&lt;/h1&gt;
&lt;h2&gt;h2 Heading&lt;/h2&gt;
&lt;h3&gt;h3 Heading&lt;/h3&gt;
&lt;h4&gt;h4 Heading&lt;/h4&gt;
&lt;h5&gt;h5 Heading&lt;/h5&gt;
&lt;h6&gt;h6 Heading&lt;/h6&gt;
&lt;h2&gt;Horizontal Rules&lt;/h2&gt;
&lt;hr&gt;
&lt;hr&gt;
&lt;hr&gt;
&lt;h2&gt;Typographic replacements&lt;/h2&gt;
&lt;p&gt;Enable typographer option to see result.&lt;/p&gt;
&lt;p&gt;&copy; &copy; &reg; &reg; &trade; &trade; &sect; &sect; &plusmn;&lt;/p&gt;
&lt;p&gt;test&hellip; test&hellip; test&hellip; test?.. test!..&lt;/p&gt;
&lt;p&gt;!!! ??? ,  &ndash; &mdash;&lt;/p&gt;
&lt;p&gt;&ldquo;Smartypants, double quotes&rdquo; and &lsquo;single quotes&rsquo;&lt;/p&gt;
&lt;h2&gt;Emphasis&lt;/h2&gt;
&lt;p&gt;&lt;strong&gt;This is bold text&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This is bold text&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This is italic text&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This is italic text&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;s&gt;Strikethrough&lt;/s&gt;&lt;/p&gt;
&lt;h2&gt;Blockquotes&lt;/h2&gt;
&lt;blockquote&gt;
&lt;p&gt;Blockquotes can also be nested&hellip;&lt;/p&gt;
&lt;blockquote&gt;
&lt;p&gt;&hellip;by using additional greater-than signs right next to each other&hellip;&lt;/p&gt;
&lt;blockquote&gt;
&lt;p&gt;&hellip;or with spaces between arrows.&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/blockquote&gt;
&lt;/blockquote&gt;
&lt;h2&gt;Lists&lt;/h2&gt;
&lt;p&gt;Unordered&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Create a list by starting a line with &lt;code&gt;+&lt;/code&gt;, &lt;code&gt;-&lt;/code&gt;, or &lt;code&gt;*&lt;/code&gt;&lt;/li&gt;
&lt;li&gt;Sub-lists are made by indenting 2 spaces:
&lt;ul&gt;
&lt;li&gt;Marker character change forces new list start:
&lt;ul&gt;
&lt;li&gt;Ac tristique libero volutpat at&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
&lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
&lt;li&gt;Nulla volutpat aliquam velit&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;Very easy!&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Ordered&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;
&lt;p&gt;Lorem ipsum dolor sit amet&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;Consectetur adipiscing elit&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;Integer molestie lorem at massa&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;You can use sequential numbers&hellip;&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;&hellip;or keep all the numbers as &lt;code&gt;1.&lt;/code&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;Start numbering with offset:&lt;/p&gt;
&lt;ol start=&quot;57&quot;&gt;
&lt;li&gt;foo&lt;/li&gt;
&lt;li&gt;bar&lt;/li&gt;
&lt;/ol&gt;
&lt;h2&gt;Code&lt;/h2&gt;
&lt;p&gt;Inline &lt;code&gt;code&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;Indented code&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;// Some comments
line 1 of code
line 2 of code
line 3 of code
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;Block code &ldquo;fences&rdquo;&lt;/p&gt;
&lt;pre class=&quot;hljs&quot;&gt;&lt;code&gt;Sample text here...
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;Syntax highlighting&lt;/p&gt;
&lt;pre class=&quot;hljs language-js&quot;&gt;&lt;code&gt;&lt;span class=&quot;hljs-keyword&quot;&gt;var&lt;/span&gt; foo = &lt;span class=&quot;hljs-function&quot;&gt;&lt;span class=&quot;hljs-keyword&quot;&gt;function&lt;/span&gt; (&lt;span class=&quot;hljs-params&quot;&gt;bar&lt;/span&gt;) &lt;/span&gt;{
  &lt;span class=&quot;hljs-keyword&quot;&gt;return&lt;/span&gt; bar++;
};

&lt;span class=&quot;hljs-built_in&quot;&gt;console&lt;/span&gt;.log(foo(&lt;span class=&quot;hljs-number&quot;&gt;5&lt;/span&gt;));
&lt;/code&gt;&lt;/pre&gt;
&lt;h2&gt;Tables&lt;/h2&gt;
&lt;table&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th&gt;Option&lt;/th&gt;
&lt;th&gt;Description&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;data&lt;/td&gt;
&lt;td&gt;path to data files to supply the data that will be passed into templates.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;engine&lt;/td&gt;
&lt;td&gt;engine to be used for processing templates. Handlebars is the default.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;ext&lt;/td&gt;
&lt;td&gt;extension to be used for dest files.&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;Right aligned columns&lt;/p&gt;
&lt;table&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th style=&quot;text-align:right&quot;&gt;Option&lt;/th&gt;
&lt;th style=&quot;text-align:right&quot;&gt;Description&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align:right&quot;&gt;data&lt;/td&gt;
&lt;td style=&quot;text-align:right&quot;&gt;path to data files to supply the data that will be passed into templates.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align:right&quot;&gt;engine&lt;/td&gt;
&lt;td style=&quot;text-align:right&quot;&gt;engine to be used for processing templates. Handlebars is the default.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align:right&quot;&gt;ext&lt;/td&gt;
&lt;td style=&quot;text-align:right&quot;&gt;extension to be used for dest files.&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;h2&gt;Links&lt;/h2&gt;
&lt;p&gt;&lt;a href=&quot;http://dev.nodeca.com&quot;&gt;link text&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;http://nodeca.github.io/pica/demo/&quot; title=&quot;title text!&quot;&gt;link with title&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Autoconverted link &lt;a href=&quot;https://github.com/nodeca/pica&quot;&gt;https://github.com/nodeca/pica&lt;/a&gt; (enable linkify to see)&lt;/p&gt;
&lt;h2&gt;Images&lt;/h2&gt;
&lt;p&gt;&lt;img src=&quot;https://octodex.github.com/images/minion.png&quot; alt=&quot;Minion&quot;&gt;
&lt;img src=&quot;https://octodex.github.com/images/stormtroopocat.jpg&quot; alt=&quot;Stormtroopocat&quot; title=&quot;The Stormtroopocat&quot;&gt;&lt;/p&gt;
&lt;p&gt;Like links, Images also have a footnote style syntax&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;https://octodex.github.com/images/dojocat.jpg&quot; alt=&quot;Alt text&quot; title=&quot;The Dojocat&quot;&gt;&lt;/p&gt;
&lt;p&gt;With a reference later in the document defining the URL location:&lt;/p&gt;
&lt;h2&gt;Plugins&lt;/h2&gt;
&lt;p&gt;The killer feature of &lt;code&gt;markdown-it&lt;/code&gt; is very effective support of
&lt;a href=&quot;https://www.npmjs.org/browse/keyword/markdown-it-plugin&quot;&gt;syntax plugins&lt;/a&gt;.&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-emoji&quot;&gt;Emojies&lt;/a&gt;&lt;/h3&gt;
&lt;blockquote&gt;
&lt;p&gt;Classic markup: 😉 :crush: 😢 :tear: 😆 😋&lt;/p&gt;
&lt;p&gt;Shortcuts (emoticons): 😃 😦 😎 😉&lt;/p&gt;
&lt;/blockquote&gt;
&lt;p&gt;see &lt;a href=&quot;https://github.com/markdown-it/markdown-it-emoji#change-output&quot;&gt;how to change output&lt;/a&gt; with twemoji.&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-sub&quot;&gt;Subscript&lt;/a&gt; / &lt;a href=&quot;https://github.com/markdown-it/markdown-it-sup&quot;&gt;Superscript&lt;/a&gt;&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;19&lt;sup&gt;th&lt;/sup&gt;&lt;/li&gt;
&lt;li&gt;H&lt;sub&gt;2&lt;/sub&gt;O&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-ins&quot;&gt;&amp;lt;ins&amp;gt;&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;&lt;ins&gt;Inserted text&lt;/ins&gt;&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-mark&quot;&gt;&amp;lt;mark&amp;gt;&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;&lt;mark&gt;Marked text&lt;/mark&gt;&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-footnote&quot;&gt;Footnotes&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;Footnote 1 link&lt;sup class=&quot;footnote-ref&quot;&gt;&lt;a href=&quot;#fn1&quot; id=&quot;fnref1&quot;&gt;[1]&lt;/a&gt;&lt;/sup&gt;.&lt;/p&gt;
&lt;p&gt;Footnote 2 link&lt;sup class=&quot;footnote-ref&quot;&gt;&lt;a href=&quot;#fn2&quot; id=&quot;fnref2&quot;&gt;[2]&lt;/a&gt;&lt;/sup&gt;.&lt;/p&gt;
&lt;p&gt;Inline footnote&lt;sup class=&quot;footnote-ref&quot;&gt;&lt;a href=&quot;#fn3&quot; id=&quot;fnref3&quot;&gt;[3]&lt;/a&gt;&lt;/sup&gt; definition.&lt;/p&gt;
&lt;p&gt;Duplicated footnote reference&lt;sup class=&quot;footnote-ref&quot;&gt;&lt;a href=&quot;#fn2&quot; id=&quot;fnref2:1&quot;&gt;[2:1]&lt;/a&gt;&lt;/sup&gt;.&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-deflist&quot;&gt;Definition lists&lt;/a&gt;&lt;/h3&gt;
&lt;dl&gt;
&lt;dt&gt;Term 1&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;Definition 1
with lazy continuation.&lt;/p&gt;
&lt;/dd&gt;
&lt;dt&gt;Term 2 with &lt;em&gt;inline markup&lt;/em&gt;&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;Definition 2&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;  { some code, part of Definition 2 }
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;Third paragraph of definition 2.&lt;/p&gt;
&lt;/dd&gt;
&lt;/dl&gt;
&lt;p&gt;&lt;em&gt;Compact style:&lt;/em&gt;&lt;/p&gt;
&lt;dl&gt;
&lt;dt&gt;Term 1&lt;/dt&gt;
&lt;dd&gt;Definition 1&lt;/dd&gt;
&lt;dt&gt;Term 2&lt;/dt&gt;
&lt;dd&gt;Definition 2a&lt;/dd&gt;
&lt;dd&gt;Definition 2b&lt;/dd&gt;
&lt;/dl&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-abbr&quot;&gt;Abbreviations&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;This is &lt;abbr title=&quot;Hyper Text Markup Language&quot;&gt;HTML&lt;/abbr&gt; abbreviation example.&lt;/p&gt;
&lt;p&gt;It converts &ldquo;&lt;abbr title=&quot;Hyper Text Markup Language&quot;&gt;HTML&lt;/abbr&gt;&rdquo;, but keep intact partial entries like &ldquo;xxxHTMLyyy&rdquo; and so on.&lt;/p&gt;
&lt;h3&gt;&lt;a href=&quot;https://github.com/markdown-it/markdown-it-container&quot;&gt;Custom containers&lt;/a&gt;&lt;/h3&gt;
&lt;div class=&quot;warning&quot;&gt;
&lt;p&gt;&lt;em&gt;here be dragons&lt;/em&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;hr class=&quot;footnotes-sep&quot;&gt;
&lt;section class=&quot;footnotes&quot;&gt;
&lt;ol class=&quot;footnotes-list&quot;&gt;
&lt;li id=&quot;fn1&quot; class=&quot;footnote-item&quot;&gt;&lt;p&gt;Footnote &lt;strong&gt;can have markup&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;and multiple paragraphs. &lt;a href=&quot;#fnref1&quot; class=&quot;footnote-backref&quot;&gt;↩︎&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li id=&quot;fn2&quot; class=&quot;footnote-item&quot;&gt;&lt;p&gt;Footnote text. &lt;a href=&quot;#fnref2&quot; class=&quot;footnote-backref&quot;&gt;↩︎&lt;/a&gt; &lt;a href=&quot;#fnref2:1&quot; class=&quot;footnote-backref&quot;&gt;↩︎&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li id=&quot;fn3&quot; class=&quot;footnote-item&quot;&gt;&lt;p&gt;Text of inline footnote &lt;a href=&quot;#fnref3&quot; class=&quot;footnote-backref&quot;&gt;↩︎&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;/section&gt;
</code></pre>

            </div>

             <footer class="py-4 text-white-50"  >
                <div class="container text-center text-white">
                  <p>Copyright &copy; <a href="http://cognirel.com/"> Cognirel.com</a></p>
                </div>
              </footer>


            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossOrigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossOrigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossOrigin="anonymous"></script>

            <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
            <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      
          </body>
        </html>
