<html>
<body style="background-color: rgba(253,237,142,1);padding: 30px;">
    <div style="padding: 10px 0px; margin: 20px; background-color: white;">
        <div style="margin-top:20px;background-color:rgba(252,255,240,1);text-align:center;border-bottom:1px solid black;padding: 10px 0px;">
            <img src="{url_root}/static/img/Logo.png" alt="The School Of AI" width="120px"/>
        </div>
        <div style="padding: 2% 10%;">
            <h1>Dear {name}</h1>
            <p>Oops!</p>
            <p>The payment has failed</p>
            <p>Kindly click on this button below to do the payment again</p>

            <p><a href="{url_root}/summary/{order_id}"
                  style="display: block; width: 115px; height: 25px; background: #4E9CAF; padding: 10px; text-align: center; border-radius: 5px; color: white; font-weight: bold;">
                Retry Payment</a></p>
            <p>We look forward to meet you in class</p>
        </div>
    </div>
    <div>
        <p style="text-align:center; margin-top: 10px;">
            For queries and assistance<br/><br/>
            Neha Arora<br/>
            +91 6361 362 626<br/>
            neha@theschoolofai.com
        </p>
    </div>
</body>
</html>