<html>
<body style="background-color: rgba(253,237,142,1); padding: 30px;">
    <div style="padding: 10px 0px; margin: 20px; background-color: white;">
        <div style="margin-top:20px;background-color:rgba(252,255,240,1);text-align:center;border-bottom:1px solid black;padding: 10px 0px;">
            <img src="{url_root}/static/img/Logo.png" alt="The School Of AI" width="120px"/>
        </div>
        <div style="padding: 2% 10%">
            <h1>Dear {name}</h1>
            <p>Thanks for registering to the "Hands-on Machine Learning - Foundations" course.</p>
            <p>Please save the following details for future reference.</p>
            <div style="text-align:center;">
                <table width="50%" style="text-align:left;margin:0 auto;">
                    <tr>
                        <th>Order Id</th>
                        <th>Payment Id</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>{order_id}</td>
                        <td>{payment_id}</td>
                        <td>Rs.{amount}</td>
                    </tr>
                </table>
            </div>
            <div style="background-color:rgba(252,255,240,1);text-align:center;padding: 3%;">
                <p style="text-align:center">Details of In-person sessions</p>
                <table width="50%" style="text-align:left;margin:0 auto;">
                    <tr>
                        <th>Batch</th>
                        <th>Dates</th>
                        <th>Venue</th>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Sundays<br/>9:00am to 5:00</td>
                        <td style="font-weight: bold">Every Sunday (9th, 16th, 23rd, 30th September)</td>
                        <td style="font-weight: bold">IKP EDEN,<br/><span class="font-weight:normal">Koramangala, Bengaluru, 560029</span></td>
                    </tr>
                </table>
            </div>
            <p>Please be <b>on time</b>. We look forward to meet you in class.</p>
        </div>
    </div>
    <div>
        <p style="text-align:center; margin-top: 10px;">
            For queries and assistance<br/><br/>
            Neha Arora<br/>
            +91 6361 362 626<br/>
            neha@theschoolofai.com
        </p>
    </div>
</body>
</html>