{% set page_name="MCQ" %}
{% extends 'layout.html' %}

{% block content %}

<p data-height="1000" data-theme-id="33332" data-slug-hash="7922dcaba353e06ea62b64717fc99354" data-default-tab="result" data-user="rampi" data-embed-version="2" data-pen-title="React Playground" class="codepen">See the Pen <a href="https://codepen.io/rampi/pen/7922dcaba353e06ea62b64717fc99354/">React Playground</a> by Ram Prakash H (<a href="https://codepen.io/rampi">@rampi</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

{% endblock %}